# Environment mode (dev/prod)
VITE_ENV=dev

# API Base URL for custom services (e.g., http://localhost:8000/api)
VITE_API_URL=http://localhost:8000/api

# Base API URL used in Axios config (e.g., http://localhost:8000/api)
VITE_BASE_API_URL=http://localhost:8000/api
