# Database Connection Strings
ORACLE_CONNECTION_STRING=oracle+oracledb://PAWS_USER:Password1234@localhost:1521/ORCLPDB
MSSQL_CONNECTION_STRING=mssql+pyodbc://username:password@hostname:1433/database_name?driver=ODBC+Driver+17+for+SQL+Server
SQL_LITE_CONNECTION_STRING=sqlite:///./sql_lite.db

# LDAP Configuration
LDAP_SERVER=ldap://your-ldap-server
LDAP_BASE_DN=DC=yourdomain,DC=com

# Application Configuration
CENTRAL_OFFICE_DEPARTMENT_CODE=CO08646
DEV_MODE=True
